.bg-primary, .btn-primary {
  background-color: rebeccapurple !important;
  border-color: rebeccapurple !important;
}

.list-group-item:hover {
  background-color: #eee;
  cursor: pointer;
}

.card-header {
  font-size: 1.2rem;
}